body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.z-index-1000{
    z-index: 1000;
}
/* font-size */
.font-size-14{
    font-size: 0.875rem;
}
.font-size-24, h3 {
    font-size:24px;
}
.font-size-30, h2{
    font-size: .875rem;
}
.font-size-42{
    font-size: 2.625rem;
}
/* font-weight */
.font-weight-700{
    font-weight: 700;
}
.font-weight-200{/*texte fin*/
    font-weight:200;
}
.font-weight-300{
    font-weight: 300;
}
.font-weight-500{
    font-weight:500;
}
.font-weight-600{
    font-weight: 600;
}
h2{
    padding-top:66px;
    border-bottom-width: 10px;
}
/*Menus, boutons*/
.btn-nav a { 
    padding: 10px 19px;
    margin-right: 11px;
    color: white;    
}
.btn-nav a:hover{    
    color: #4bcaff;
    border: solid 2px #4bcaff;
    padding: 6px 17px;
}
.onglet-active{
    color: #4bcaff;
    border: solid 2px #4bcaff;
    padding: 6px 17px;
    margin-right: 11px;
}
.btn-nav2 a { 
    padding: 10px 19px;
    margin-right: 11px;
    color:#4c575f;
    font-size: 14px;
}

.btn-nav2 a:hover{    
    color: #4bcaff;
    border: solid 2px #4bcaff;
    padding: 6px 17px;
}

.btn-visit-me a { 
    border: solid 2px #353f46;
    padding: 6px 17px;
    margin-right: 11px;
    color: #353f46;    
    font-weight: 700;
    font-size: 14px;
}

.btn-visit-me a:hover{    
    color: #fff;
    border: solid 2px #fff;
    padding: 6px 17px;
}

.btn-social{
    font-size: 30px;
    width:65px;
    height:65px;
}

.btn-envoyer{
    background-color: #4bcaff;
}
.btn-envoyer:hover{
    background-color: #353f46;
}
.logo-social a{
    border: solid #fff 2px;
    margin-right: 20px;
    color: #fff;
}

.logo-social a:hover{
    border: solid #4bcaff 2px;
    color: #4bcaff;
}
/* header */
.height-150{
    height: 150px;
}
.line{
    margin-top: 5px;
    width: 45px;
    height:2px;
}

/*Boutons services*/
.services .four-column{
    margin-right:50px;
    font-size: 12px;
    color: #fff;
}

.services .four-column:hover{
    color: #353f46;
}
.services .four-column:last-child{
    margin-right:0px;
}

.services .four-column{
    margin-right:50px;
    font-size: 12px;
    color: #fff;
}

.icone-services1{
    width: 35px;
    height: 50px;
    background-image: url(images/icones-services-1.png);
    background-position: top;
}
.icone-services1:hover{
    width: 35px;
    height: 50px;
    background-image: url(images/icones-services-1.png);
    background-position: bottom;
}
.icone-services2{
    width: 49px;
    height: 50px;
    background-image: url(images/icones-services-2.png);
    background-position: top;
}
.icone-services2:hover{
    background-image: url(images/icones-services-2.png);
    background-position: bottom;
}
.icone-services3{
    width: 53px;
    height: 50px;
    background-image: url(images/icones-services-3.png);
    background-position: top;
}
.icone-services3:hover{
    background-image: url(images/icones-services-3.png);
    background-position: bottom;
}
.icone-services4{
    width: 50px;
    height: 50px;
    background-image: url(images/icones-services-4.png);
    background-position: top;
}
.icone-services4:hover{
    background-image: url(images/icones-services-4.png);
    background-position: bottom;
}


.bg-header{
    background-image: url(images/images-big-1.jpg);
    height:800px;
}




/*Textes*/
.padding-header-text{
    padding: 3px 20px 6px 20px;
}
.padding-header-text:first-child{
    margin-bottom: 12px;
}

.text-justdefaultsection{
    max-width:470px;
}


.text-twitter{
    font-size: 26px;
    font-weight: 300;
    margin:0;
}

/*margin padding*/
.margin-top-80{
    margin-top: 80px;
}
.margin-top-38{
    margin-top: 38px;
}

.margin-bottom-30{
    margin-bottom: 30px;
}

.margin-bottom-10{
    margin-bottom: 10px;
}


.padding-bottom-78{
    padding-bottom:78px;
}

.padding-bottom-74{
    padding-bottom:74px;
}

.quote{
    font-size:72px;
    font-family: 'bitter';
}
.images-portfolio{
    margin-bottom: 46px;
}

.images-portfolio img{
    margin-bottom: 30px;
}

.images-portfolio-miniature1 {
    width:270px;
    height: 270px;
    background-image: url(images/miniatures-01.jpg);
}
.images-portfolio-miniature1:hover {
    background-image: url(images/miniatures-01b.jpg);
}

.images-portfolio-miniature2 {
    width:270px;
    height: 270px;
    background-image: url(images/miniatures-02.jpg);
}
.images-portfolio-miniature2:hover {
    background-image: url(images/miniatures-02b.jpg);
}

.images-portfolio-miniature3 {
    width:270px;
    height: 270px;
    background-image: url(images/miniatures-03.jpg);
}
.images-portfolio-miniature3:hover {
    background-image: url(images/miniatures-03b.jpg);
}

.images-portfolio-miniature4 {
    width:270px;
    height: 270px;
    background-image: url(images/miniatures-04.jpg);
}
.images-portfolio-miniature4:hover {
    background-image: url(images/miniatures-04b.jpg);
}

.images-portfolio-miniature5 {
    width:270px;
    height: 270px;
    background-image: url(images/miniatures-05.jpg);
}
.images-portfolio-miniature5:hover {
    background-image: url(images/miniatures-05b.jpg);
}

.images-portfolio-miniature6 {
    width:270px;
    height: 270px;
    background-image: url(images/miniatures-06.jpg);
}
.images-portfolio-miniature6:hover {
    background-image: url(images/miniatures-06b.jpg);
}

.images-portfolio-miniature7 {
    width:270px;
    height: 270px;
    background-image: url(images/miniatures-07.jpg);
}
.images-portfolio-miniature7:hover {

    background-image: url(images/miniatures-07b.jpg);
}

.images-portfolio-miniature8 {
    width:270px;
    height: 270px;
    background-image: url(images/miniatures-08.jpg);
}
.images-portfolio-miniature8:hover {
    background-image: url(images/miniatures-08b.jpg);
}
.fa-twitter{
    font-size:30px;

}

.bg-john-doe{
    background-image: url(images/images-big-3.jpg);
    height:505px;
}
/*contact*/
.bg-contact{
    background-image: url(images/images-big-2.jpg);
    height:814px;
}

.input{
    width: 470px;
    height: 60px;
    background-color: transparent;
    border: solid 2px #fff;
    color:white;
    font-size:14px;
    box-shadow: none;
}

.input:valid{
    border: solid 2px green;
}

.input:focus:invalid{
    border: solid 2px red;
}

:required{
    border: solid 2px #fff;
}


.text-area{
    width: 100%;
    max-width: 1170px;
    height: 220px;
    background-color: transparent;
    color:white;
    font-size:14px;
}

.input, .text-area {
    padding-left: 15px;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
} 

#submit_button{
    width:370px;
    height: 60px;
    border: none;
    margin-top:40px;
}

.retour{
    width:370px;
    height: 60px;
    border: none;
    margin-top:40px;
}

/*footer*/
footer{
    height:170px;
}
.menu-footer li:first-child{
    margin-left: 0px;
}

.menu-footer li{
    margin-right: 17px;
    font-size:12px;
}
.menu-footer a{
    margin-right: 17px ;
}

.lien-footer{
    color: #515f67;
}

.lien-footer:hover{    
color: #fff;
}


/***Colors***/
/*gris 85%*/
.bg-black-85{
    background-color: rgba(53,63,70,0.85);
}
.bg-black{
    background-color: #000;
}
.bg-white{
    background-color: #fff;
}

.border-white{
    border:solid #fff 2px;
}
.bg-grey-100{
    background-color: #4c575f;
}
.bg-grey{
    background-color: #515f67;
}
.color-grey{
    color: #515f67;
}
.border-right-grey{
    border-right :solid 2px #515f67;
}

.bg-color-grey-black{
    background-color: #353f46;
}

.bg-blue{
    background-color: #4bcaff;
}
.color-blue{
    color: #4bcaff;
}