/*Systeme de la grille*/
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
}

.container-large{
    width:100%;
    margin: 0;
    
}

.container{
    width:85%;
    max-width:1170px;
    height: auto;
    margin: 0 auto;
}
    
.row{
    width:100%;

}
.bg-header{
    background-image: url(images/images-big-1.jpg);
    height:800px;
}

/*Flexbox*/
.d-flex{
    display: flex;
}

.flex-align-items{
    align-items: center;
}
.flex-align-right{
    justify-content: flex-end;
}

.flex-justify-center{
    justify-content:center
}

.flex-direction-column{
    flex-direction: column;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-space-between{
    justify-content: space-between;
}

.flex-space-around{
    justify-content: space-around;
}
/*fin flexbox*/

.column-large{
    width:50%;
    height:150px; 
}
.column-large2{
    width:50%;
    height:auto; 
}

/*Menu*/
ul {
    list-style-type: none;
    justify-content: flex-end;

}
.btn-nav a { 
    padding: 10px 19px;
    margin-right: 11px;
    color: white;    
    font-weight: 700;
    font-size: 14px;
}

.btn-nav a:hover{    
    color: #4bcaff;
    border: solid 2px #4bcaff;
    padding: 6px 17px;
}

.btn-nav2 a { 
    padding: 10px 19px;
    margin-right: 11px;
    color:#4c575f;

    
    
    font-weight: 700;
    font-size: 14px;
}
.btn-nav2 a:hover{    
    color: #4bcaff;
    border: solid 2px #4bcaff;
    padding: 6px 17px;
}

.btn-visit-me a { 
    border: solid 2px #353f46;
    padding: 6px 17px;
    margin-right: 11px;
    color: #353f46;    
    font-weight: 700;
    font-size: 14px;
}

.btn-visit-me a:hover{    
    color: #fff;
    border: solid 2px #fff;
    padding: 6px 17px;
}

.hero-title-header{
    width: 100%;
    height: 650px;
    font-size: 42px;
}
.padding-header-text{
    padding: 3px 20px 6px 20px;
    margin: 0;
}
.padding-header-text:first-child{
    margin-bottom: 12px;
}
.text-justdefaultsection{
    max-width:470px;
    font-size: 14px;
}



/*Textes alignement,...*/
.text-uppercase {
text-transform: uppercase;
}
.text-align-center{
    text-align: center;
}

.text-weight-200{/*texte fin*/
    font-weight:200;
}

.text-semibold{
    font-weight:500;
}

h2{
    margin:0;
    padding-top:70px;
    border-bottom-width: 10px;
    font-size: 30px;
}

h3 {
    font-size:24px;
}

.bold{
    font-weight: 600;
}


.margin-top-80{
    margin-top: 80px;
}
.margin-top-38{
    margin-top: 38px;
}


.padding-bottom-78{
    padding-bottom:78px;
}

.padding-bottom-74{
    padding-bottom:74px;
}



.four-column{
    width:270px;
}

.line{
    margin-top: 5px;
    width: 45px;
    height:2px;
}
.services .four-column{
    margin-right:50px;
    font-size: 12px;
}
.services .four-column:last-child{
    margin-right:0px;
}

.images-portfolio img{
    margin-bottom: 30px;
}
.images-portfolio{
    margin-bottom: 46px;
}

.fa-twitter{
    font-size:30px;

}
.text-twitter{
    font-size: 28px;
    font-weight: 300;
}



/***Colors***/
/*gris 85%*/
.bg-black-85{
    background-color: rgba(53, 63, 70, 0.85);
}
.bg-black{
    background-color: #000;
}
.color-white{
    color: #ffffff;
}
.bg-white{
    background-color: #fff;
}

.bg-grey-100{
    background-color: #4c575f;
}
.bg-grey{
    background-color: #515f67;
}

.color-grey-black{
    background-color: #353f46;
}

.bg-blue{
    background-color: #4bcaff;
}