/*Systeme de la grille*/
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.container-large{
    width:100%;
    margin: 0;
    
}

.container{
    width:85%;
    max-width:1170px;
    height: auto;
    margin: 0 auto;
}
    
.row{
    width:100%;

}
.bg-header{
    background-image: url(images/images-big-1.jpg);
    height:800px;
}

/*Flexbox*/
.d-flex{
    display: flex;
}

.flex-align-items{
    align-items: center;
}
.flex-align-right{
    justify-content: flex-end;
}

.flex-justify-center{
    justify-content:center
}

.flex-direction-column{
    flex-direction: column;
}
/*fin flexbox*/
.column-large{
    width:50%;
    height:150px; 
}

/*Menu*/
ul {
    list-style-type: none;
    justify-content: flex-end;

}
.btn-nav a { 
    padding: 10px 19px;
    margin-right: 11px;
    color: white;
    text-decoration: none;
    
    font-weight: 700;
    font-size: 14px;
}
.btn-nav a:hover{    
    color: #4bcaff;
    border: solid 2px #4bcaff;
    padding: 6px 17px;
}


.hero-title-header{
    width: 100%;
    height: 650px;
    font-size: 42px;
}
.padding-header-text{
    padding: 3px 20px 6px 20px;
    margin: 0;
}
.padding-header-text:first-child{
    margin-bottom: 12px;
}


/*Textes alignement,...*/
.text-uppercase {
text-transform: uppercase;
}
.text-align-center{
    text-align: center;
}

.text-weight-200{
    font-weight:200;
}

h2{
    margin:0;
    padding-top:80px;
    border-bottom-width: 10px;
}

.margin-top-80{
    margin-top: 80px;
}

.services


/***Colors***/
/*gris 85%*/
.bg-black-85{
    background-color: rgba(53, 63, 70, 0.85);
}
.color-white{
    color: #ffffff;
}

.bg-grey-100{
    background-color: #4c575f;
}

.bg-blue{
    background-color: #4bcaff;
}